<a href="https://colab.research.google.com/github/leesiri1004/Colab/blob/main/2_6_SVM%EC%8B%A4%EC%8A%B5.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
"""
날짜 : 2021/02/02
이름 : 이슬이
내용 : 서포트벡터머신 실습하기(Support Vector Machine)
"""

In [ ]:
import pandas as pd
from sklearn.linear_model import LogisticRegression
from sklearn import svm, metrics
from sklearn.model_selection import train_test_split
from google.colab import drive

In [ ]:
# 드라이브 마운트
drive.mount('/content/drive')

Mounted at /content/drive

In [ ]:
# 데이터 불러오기
df_iris = pd.read_csv('/content/drive/MyDrive/Colab Notebooks/file/iris.csv')
df_iris

     sepal.length  sepal.width  petal.length  petal.width    variety
0             5.1          3.5           1.4          0.2     Setosa
1             4.9          3.0           1.4          0.2     Setosa
2             4.7          3.2           1.3          0.2     Setosa
3             4.6          3.1           1.5          0.2     Setosa
4             5.0          3.6           1.4          0.2     Setosa
..            ...          ...           ...          ...        ...
145           6.7          3.0           5.2          2.3  Virginica
146           6.3          2.5           5.0          1.9  Virginica
147           6.5          3.0           5.2          2.0  Virginica
148           6.2          3.4           5.4          2.3  Virginica
149           5.9          3.0           5.1          1.8  Virginica

[150 rows x 5 columns]

In [ ]:
# 학습 데이터 준비
iris_data = df_iris[['sepal.length', 'sepal.width', 'petal.length', 'petal.width']]
iris_label = df_iris['variety']

iris_data.head()
iris_label.head()

train_data, test_data, train_label, test_label = train_test_split(iris_data, iris_label) # train_test_split 데이터를 무작위로 섞기

In [ ]:
# 학습하기
model = svm.SVC()
#model = LogisticRegression()
model.fit(train_data, train_label)

SVC(C=1.0, break_ties=False, cache_size=200, class_weight=None, coef0=0.0,
    decision_function_shape='ovr', degree=3, gamma='scale', kernel='rbf',
    max_iter=-1, probability=False, random_state=None, shrinking=True,
    tol=0.001, verbose=False)

In [ ]:
# 검증하기
result = model.predict(test_data)
print(result)

['Virginica' 'Versicolor' 'Versicolor' 'Virginica' 'Setosa' 'Setosa'
 'Versicolor' 'Setosa' 'Virginica' 'Setosa' 'Setosa' 'Setosa' 'Virginica'
 'Versicolor' 'Versicolor' 'Virginica' 'Versicolor' 'Versicolor'
 'Virginica' 'Setosa' 'Setosa' 'Versicolor' 'Versicolor' 'Setosa'
 'Versicolor' 'Virginica' 'Virginica' 'Versicolor' 'Setosa' 'Versicolor'
 'Setosa' 'Virginica' 'Setosa' 'Virginica' 'Versicolor' 'Setosa' 'Setosa'
 'Setosa']

In [ ]:
# 학습률 - 성능테스트
score = metrics.accuracy_score(test_label, result)
score

0.9736842105263158